@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
}
.MyInfoScreen{
    margin-top: 40px;
}
.headingContainer{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Montserrat';
    color: #9F0EB7;
}