@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
.BlogTopics{
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
}
.topicImage{
    width: 270px;
    /* border: 2px solid black; */
    padding: 20px 20px 20px 20px;
}
.image{
    padding: 20px 20px 20px 20px;
    height: 180px;
    width: 240px;
}
.name{
    /* border: 2px solid black; */
    font-family: 'Noto Sans';
    font-size: 25px;
    text-align: center;
    /* padding: 10px 10px 10px 10p; */
    width: 270px;
}
